<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>p1_Martin_Smallwood</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpReimbursementServlet</display-name>
    <servlet-name>EmpReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmpReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpReimbursementServlet</servlet-name>
    <url-pattern>/EmpReim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManReimbursementServlet</display-name>
    <servlet-name>ManReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.ManReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManReimbursementServlet</servlet-name>
    <url-pattern>/ManReim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.revature.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpReimViewServlet</display-name>
    <servlet-name>EmpReimViewServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmpReimViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpReimViewServlet</servlet-name>
    <url-pattern>/EmpReimView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewReimbursementServlet</display-name>
    <servlet-name>NewReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.NewReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReimbursementServlet</servlet-name>
    <url-pattern>/NewReim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllReimViewServlet</display-name>
    <servlet-name>AllReimViewServlet</servlet-name>
    <servlet-class>com.revature.servlets.AllReimViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllReimViewServlet</servlet-name>
    <url-pattern>/AllReim</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AllEmpReimbursementServlet</display-name>
    <servlet-name>AllEmpReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.AllEmpReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmpReimbursementServlet</servlet-name>
    <url-pattern>/AllEmpReim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllEmpServlet</display-name>
    <servlet-name>ViewAllEmpServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewAllEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllEmpServlet</servlet-name>
    <url-pattern>/ViewAllEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllEmpServlet</display-name>
    <servlet-name>GetAllEmpServlet</servlet-name>
    <servlet-class>com.revature.servlets.GetAllEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmpServlet</servlet-name>
    <url-pattern>/GetAllEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.revature.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileInfoServlet</display-name>
    <servlet-name>ProfileInfoServlet</servlet-name>
    <servlet-class>com.revature.servlets.ProfileInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileInfoServlet</servlet-name>
    <url-pattern>/ProfileInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalServlet</display-name>
    <servlet-name>ApprovalServlet</servlet-name>
    <servlet-class>com.revature.servlets.ApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalServlet</servlet-name>
    <url-pattern>/Approval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleReimServlet</display-name>
    <servlet-name>SingleReimServlet</servlet-name>
    <servlet-class>com.revature.servlets.SingleReimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleReimServlet</servlet-name>
    <url-pattern>/SingleReim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenyServlet</display-name>
    <servlet-name>DenyServlet</servlet-name>
    <servlet-class>com.revature.servlets.DenyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyServlet</servlet-name>
    <url-pattern>/Deny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveServlet</display-name>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.revature.servlets.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/Approve</url-pattern>
  </servlet-mapping>
</web-app>